body {
    margin-top: 3%;
    text-align: center;
    background-color: #0074D9;
    color: white;
}

header {
    font-size: 60px;
}

h2 {
    border: solid;
    border-radius: 20px;
    word-wrap: break-word;
    margin: 10% auto;
    width: 30%;
}

#content {
    margin-top: 8%;
}

#inp {
    display: none;
}

#load {
    display: block;
    margin: auto;
}